<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bet_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,350},{118,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,28}}</string>
                <key>sourceSize</key>
                <string>{118,28}</string>
            </dict>
            <key>big_pot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,354},{154,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,56}}</string>
                <key>sourceSize</key>
                <string>{154,56}</string>
            </dict>
            <key>big_pot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,296},{154,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{154,56}}</string>
                <key>sourceSize</key>
                <string>{154,56}</string>
            </dict>
            <key>chip_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,387},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>chip_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,387},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>chip_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,387},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>chip_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,387},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>chip_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,387},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>chip_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,387},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>chip_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{413,387},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>chip_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,355},{32,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,30}}</string>
                <key>sourceSize</key>
                <string>{32,30}</string>
            </dict>
            <key>dashang.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,64},{71,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,62}}</string>
                <key>sourceSize</key>
                <string>{71,62}</string>
            </dict>
            <key>dashang_coin.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,287},{32,41}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,41}}</string>
                <key>sourceSize</key>
                <string>{32,41}</string>
            </dict>
            <key>dashang_small.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,286},{37,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,32}}</string>
                <key>sourceSize</key>
                <string>{37,32}</string>
            </dict>
            <key>dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,330},{32,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{32,32}}</string>
                <key>sourceSize</key>
                <string>{32,32}</string>
            </dict>
            <key>dz_match_rank_head_label.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,221},{109,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,81}}</string>
                <key>sourceSize</key>
                <string>{109,81}</string>
            </dict>
            <key>dz_player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{599,64},{107,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{107,155}}</string>
                <key>sourceSize</key>
                <string>{107,155}</string>
            </dict>
            <key>dz_power_level_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,362},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>dz_power_level_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,339},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>dz_power_level_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{651,387},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>dz_power_level_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{623,355},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>dz_power_level_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,355},{39,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{39,21}}</string>
                <key>sourceSize</key>
                <string>{39,21}</string>
            </dict>
            <key>dz_snapshot_cell.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,2},{392,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{392,88}}</string>
                <key>sourceSize</key>
                <string>{392,88}</string>
            </dict>
            <key>dz_sysinfo_battery.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,339},{38,18}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{38,18}}</string>
                <key>sourceSize</key>
                <string>{38,18}</string>
            </dict>
            <key>dz_sysinfo_battery_percent.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,360},{28,10}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,10}}</string>
                <key>sourceSize</key>
                <string>{28,10}</string>
            </dict>
            <key>dz_sysinfo_signal_2G.png</key>
            <dict>
                <key>frame</key>
                <string>{{767,367},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>dz_sysinfo_signal_3G.png</key>
            <dict>
                <key>frame</key>
                <string>{{807,339},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>dz_sysinfo_signal_4G.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,64},{24,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{24,19}}</string>
                <key>sourceSize</key>
                <string>{24,19}</string>
            </dict>
            <key>dz_sysinfo_wifi1.png</key>
            <dict>
                <key>frame</key>
                <string>{{543,352},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>dz_sysinfo_wifi2.png</key>
            <dict>
                <key>frame</key>
                <string>{{545,320},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>dz_sysinfo_wifi3.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,384},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>dz_sysinfo_wifi4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,384},{37,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,30}}</string>
                <key>sourceSize</key>
                <string>{37,30}</string>
            </dict>
            <key>dz_table_card_type_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,318},{120,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,30}}</string>
                <key>sourceSize</key>
                <string>{120,30}</string>
            </dict>
            <key>dz_table_head_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,296},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,86}}</string>
                <key>sourceSize</key>
                <string>{86,86}</string>
            </dict>
            <key>dz_table_head_name_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,128},{68,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,84}}</string>
                <key>sourceSize</key>
                <string>{68,84}</string>
            </dict>
            <key>dz_table_hunter_match_first.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,339},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>dz_table_hunter_match_other.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,359},{26,26}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{26,26}}</string>
                <key>sourceSize</key>
                <string>{26,26}</string>
            </dict>
            <key>dz_table_label_allin.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,299},{90,38}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,38}}</string>
                <key>sourceSize</key>
                <string>{90,38}</string>
            </dict>
            <key>dz_table_other_deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,304},{92,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,49}}</string>
                <key>sourceSize</key>
                <string>{92,49}</string>
            </dict>
            <key>dz_table_raise_slider.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,213},{90,84}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,84}}</string>
                <key>sourceSize</key>
                <string>{90,84}</string>
            </dict>
            <key>dz_table_silver_line.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,92},{388,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{388,2}}</string>
                <key>sourceSize</key>
                <string>{388,2}</string>
            </dict>
            <key>dz_table_sit_allow.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,214},{52,71}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,71}}</string>
                <key>sourceSize</key>
                <string>{52,71}</string>
            </dict>
            <key>dz_table_title_last_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,233},{202,61}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,61}}</string>
                <key>sourceSize</key>
                <string>{202,61}</string>
            </dict>
            <key>koupai.png</key>
            <dict>
                <key>frame</key>
                <string>{{802,287},{40,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,50}}</string>
                <key>sourceSize</key>
                <string>{40,50}</string>
            </dict>
            <key>mingpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,233},{40,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,51}}</string>
                <key>sourceSize</key>
                <string>{40,51}</string>
            </dict>
            <key>npc_dealer.png</key>
            <dict>
                <key>frame</key>
                <string>{{431,96},{166,188}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,188}}</string>
                <key>sourceSize</key>
                <string>{166,188}</string>
            </dict>
            <key>player_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,64},{95,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,147}}</string>
                <key>sourceSize</key>
                <string>{95,147}</string>
            </dict>
            <key>pot_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,286},{130,30}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,30}}</string>
                <key>sourceSize</key>
                <string>{130,30}</string>
            </dict>
            <key>raise_bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,33},{303,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,29}}</string>
                <key>sourceSize</key>
                <string>{303,29}</string>
            </dict>
            <key>raise_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{175,415}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,415}}</string>
                <key>sourceSize</key>
                <string>{175,415}</string>
            </dict>
            <key>raise_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{573,2},{303,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{303,29}}</string>
                <key>sourceSize</key>
                <string>{303,29}</string>
            </dict>
            <key>user_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{179,96},{250,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{250,135}}</string>
                <key>sourceSize</key>
                <string>{250,135}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dz_table.png</string>
            <key>size</key>
            <string>{878,419}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8b4b2f04426501bf8ae8461de58bd3dd:1/1$</string>
            <key>textureFileName</key>
            <string>dz_table.png</string>
        </dict>
    </dict>
</plist>
