<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_chat_casino.png</key>
            <dict>
                <key>frame</key>
                <string>{{1077,150},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_invite_friend.png</key>
            <dict>
                <key>frame</key>
                <string>{{1005,150},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>btn_recharge_chips.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,78},{70,70}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,70}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>dz_btn_cancel_deposit.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{206,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,80}}</string>
                <key>sourceSize</key>
                <string>{206,80}</string>
            </dict>
            <key>dz_btn_cardtype.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,144},{76,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,76}}</string>
                <key>sourceSize</key>
                <string>{76,76}</string>
            </dict>
            <key>dz_menu_bg_2_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,173}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,173}}</string>
                <key>sourceSize</key>
                <string>{210,173}</string>
            </dict>
            <key>dz_table_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,222},{96,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{96,29}}</string>
                <key>sourceSize</key>
                <string>{96,29}</string>
            </dict>
            <key>dz_table_btn_card_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{205,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,74}}</string>
                <key>sourceSize</key>
                <string>{205,74}</string>
            </dict>
            <key>dz_table_btn_check_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,144},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,64}</string>
            </dict>
            <key>dz_table_btn_check_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,78},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,64}</string>
            </dict>
            <key>dz_table_btn_checkbox.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,212},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>dz_table_btn_checkbox_on.png</key>
            <dict>
                <key>frame</key>
                <string>{{677,212},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>dz_table_btn_glory.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,2},{205,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,74}}</string>
                <key>sourceSize</key>
                <string>{205,74}</string>
            </dict>
            <key>dz_table_btn_last_game.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,210},{161,31}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{161,31}}</string>
                <key>sourceSize</key>
                <string>{161,31}</string>
            </dict>
            <key>dz_table_btn_live_gift.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,68},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>dz_table_btn_raise_confirm_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,78},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,64}</string>
            </dict>
            <key>dz_table_btn_raise_confirm_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,78},{194,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,64}}</string>
                <key>sourceSize</key>
                <string>{194,64}</string>
            </dict>
            <key>dz_table_btn_raise_normal.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,144},{156,66}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,66}}</string>
                <key>sourceSize</key>
                <string>{156,66}</string>
            </dict>
            <key>dz_table_btn_standup.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,84},{205,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,74}}</string>
                <key>sourceSize</key>
                <string>{205,74}</string>
            </dict>
            <key>dz_table_match_rebuy_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{775,144},{150,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,50}}</string>
                <key>sourceSize</key>
                <string>{150,50}</string>
            </dict>
            <key>dz_table_share_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{1043,2},{90,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,64}}</string>
                <key>sourceSize</key>
                <string>{90,64}</string>
            </dict>
            <key>vertical_dz_table_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,2},{205,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,74}}</string>
                <key>sourceSize</key>
                <string>{205,74}</string>
            </dict>
            <key>vertical_dz_table_btn_card_type.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,177},{205,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,74}}</string>
                <key>sourceSize</key>
                <string>{205,74}</string>
            </dict>
            <key>vertical_dz_table_btn_standup.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,177},{205,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,74}}</string>
                <key>sourceSize</key>
                <string>{205,74}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dz_table_btn.png</string>
            <key>size</key>
            <string>{1151,253}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d6efc041747443e35272c953d2f30fb5:1/1$</string>
            <key>textureFileName</key>
            <string>dz_table_btn.png</string>
        </dict>
    </dict>
</plist>
