<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>btn_cancle_care.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,915},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_cancle_care_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{214,909},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_chi_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,393},{169,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,170}</string>
			</dict>
			<key>btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,524},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_continue_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{337,736},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_function.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,899},{66,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,69}</string>
			</dict>
			<key>btn_gang.png</key>
			<dict>
				<key>frame</key>
				<string>{{638,860},{124,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,126}</string>
			</dict>
			<key>btn_gang_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,2},{169,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,170}</string>
			</dict>
			<key>btn_hu.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,2},{124,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,126}</string>
			</dict>
			<key>btn_hu_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,176},{169,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,170}</string>
			</dict>
			<key>btn_next.png</key>
			<dict>
				<key>frame</key>
				<string>{{355,817},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_next_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{426,898},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_pass.png</key>
			<dict>
				<key>frame</key>
				<string>{{457,132},{124,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,126}</string>
			</dict>
			<key>btn_pass_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,567},{169,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,170}</string>
			</dict>
			<key>btn_peng.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,262},{124,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,126}</string>
			</dict>
			<key>btn_peng_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,741},{169,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,170}</string>
			</dict>
			<key>btn_question.png</key>
			<dict>
				<key>frame</key>
				<string>{{836,899},{66,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,68}</string>
			</dict>
			<key>btn_show.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,326},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_show_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{348,407},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{418,488},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_start_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{499,488},{208,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,77}</string>
			</dict>
			<key>btn_ting.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,470},{124,126}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{124,126}</string>
			</dict>
			<key>btn_ting_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,350},{169,170}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,170}</string>
			</dict>
			<key>game_bg_dialog_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{116,387}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,387}</string>
			</dict>
			<key>game_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{716,680},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>game_btn_back_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{734,753},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>game_btn_close.png</key>
			<dict>
				<key>frame</key>
				<string>{{549,700},{163,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,76}</string>
			</dict>
			<key>game_btn_closure.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,600},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>game_btn_closure_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{660,600},{76,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{76,76}</string>
			</dict>
			<key>game_btn_open.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,780},{163,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{163,76}</string>
			</dict>
			<key>game_btn_overtake.png</key>
			<dict>
				<key>frame</key>
				<string>{{708,470},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>game_btn_overtake_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{740,543},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>game_btn_question.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,616},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>game_btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{766,826},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>game_btn_setting_press.png</key>
			<dict>
				<key>frame</key>
				<string>{{806,689},{68,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{68,69}</string>
			</dict>
			<key>tag_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,848},{55,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{55,57}</string>
			</dict>
			<key>tag_circle_east.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,2},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>tag_circle_north.png</key>
			<dict>
				<key>frame</key>
				<string>{{295,164},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>tag_circle_south.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,524},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>tag_circle_west.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,686},{158,158}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,158}</string>
			</dict>
			<key>tag_ponit.png</key>
			<dict>
				<key>frame</key>
				<string>{{122,350},{39,47}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{39,47}</string>
			</dict>
			<key>tag_profile_commen.png</key>
			<dict>
				<key>frame</key>
				<string>{{560,392},{74,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,95}</string>
			</dict>
			<key>tag_profile_myself.png</key>
			<dict>
				<key>frame</key>
				<string>{{659,392},{74,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{74,95}</string>
			</dict>
			<key>tag_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,848},{117,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{117,57}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>Plist.png</string>
			<key>realTextureFileName</key>
			<string>Plist.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>