<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gswz_res/7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,180},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>gswz_res/bets_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,136},{167,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,41}</string>
			</dict>
			<key>gswz_res/btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{325,380},{170,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{170,77}</string>
			</dict>
			<key>gswz_res/btn1.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,426},{120,34}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{120,34}</string>
			</dict>
			<key>gswz_res/btn10.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,180},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>gswz_res/btn11.png</key>
			<dict>
				<key>frame</key>
				<string>{{444,180},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>gswz_res/btn12.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,302},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>gswz_res/btn2.png</key>
			<dict>
				<key>frame</key>
				<string>{{253,743},{95,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{95,93}</string>
			</dict>
			<key>gswz_res/btn3.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,2},{130,342}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{130,342}</string>
			</dict>
			<key>gswz_res/btn5.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,392},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>gswz_res/btn6.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,402},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>gswz_res/btn8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,280},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>gswz_res/btn9.png</key>
			<dict>
				<key>frame</key>
				<string>{{223,280},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>gswz_res/huanzhuo.png</key>
			<dict>
				<key>frame</key>
				<string>{{175,783},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>gswz_res/jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{303,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,174}</string>
			</dict>
			<key>gswz_res/jian.png</key>
			<dict>
				<key>frame</key>
				<string>{{309,2},{303,174}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{303,174}</string>
			</dict>
			<key>gswz_res/kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,380},{125,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{125,167}</string>
			</dict>
			<key>gswz_res/ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,180},{112,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,65}</string>
			</dict>
			<key>gswz_res/start.png</key>
			<dict>
				<key>frame</key>
				<string>{{817,136},{252,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,96}</string>
			</dict>
			<key>gswz_res/sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{961,340},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
			<key>gswz_res/sz_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{95,783},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>gswz_res/sz_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{917,307},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>gswz_res/sz_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{544,296},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>gswz_res/sz_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{616,136},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
			<key>gswz_res/tishi.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,2},{334,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{334,50}</string>
			</dict>
			<key>gswz_res/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,698},{88,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,89}</string>
			</dict>
			<key>gswz_res/tx_zj.png</key>
			<dict>
				<key>frame</key>
				<string>{{148,679},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>gswz_res/txk.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,380},{106,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,148}</string>
			</dict>
			<key>gswz_res/type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{952,462},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
			<key>gswz_res/type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{173,490},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
			<key>gswz_res/type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{246,490},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
			<key>gswz_res/type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{406,401},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
			<key>gswz_res/type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{319,554},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
			<key>gswz_res/type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{479,416},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
			<key>gswz_res/type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{392,590},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
			<key>gswz_res/type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,509},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
			<key>gswz_res/type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{75,509},{185,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{185,69}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gswz_new.png</string>
			<key>realTextureFileName</key>
			<string>gswz_new.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>