<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>avatar_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{4,4},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{159,4},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{314,4},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{4,159},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{159,159},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{314,159},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{4,314},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{159,314},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{314,314},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{4,469},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{159,469},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{314,469},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{4,624},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{4,779},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{159,624},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>avatar_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{314,624},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changeavatar_cell_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{149,149}</string>
                <key>spriteSourceSize</key>
                <string>{149,149}</string>
                <key>textureRect</key>
                <string>{{159,779},{149,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>changeavatar_mark.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,63}</string>
                <key>spriteSourceSize</key>
                <string>{63,63}</string>
                <key>textureRect</key>
                <string>{{4,934},{63,63}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>avatars.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b362f4eef004967f4a53680fea92b6c:297b5473faed91328036202a09bba70d:3c000e9e2b3f3e7057744f27cc4e33a7$</string>
            <key>textureFileName</key>
            <string>avatars.png</string>
        </dict>
    </dict>
</plist>
