<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/zhajinhua_banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{985,1236},{37,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{37,40}</string>
			</dict>
			<key>img/zhajinhua_baozi.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1642},{94,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,42}</string>
			</dict>
			<key>img/zhajinhua_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,752},{225,484}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,484}</string>
			</dict>
			<key>img/zhajinhua_btnbet.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1476},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_btnbet0.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1476},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_btnqipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{565,1476},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_btnqipai0.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1526},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,950},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>img/zhajinhua_compare.png</key>
			<dict>
				<key>frame</key>
				<string>{{819,1582},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_compare0.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,1699},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{699,1174},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>img/zhajinhua_defeate.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1620},{109,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{109,55}</string>
			</dict>
			<key>img/zhajinhua_delta.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1398},{149,46}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{149,46}</string>
			</dict>
			<key>img/zhajinhua_double.png</key>
			<dict>
				<key>frame</key>
				<string>{{971,1665},{95,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,41}</string>
			</dict>
			<key>img/zhajinhua_genzhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,1582},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_genzhu0.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,1755},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_gold.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,521},{167,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{167,41}</string>
			</dict>
			<key>img/zhajinhua_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1924},{109,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,109}</string>
			</dict>
			<key>img/zhajinhua_jiazhu.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1398},{152,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,92}</string>
			</dict>
			<key>img/zhajinhua_jinhua.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1830},{94,41}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,41}</string>
			</dict>
			<key>img/zhajinhua_lookcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{890,1755},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_lookcard0.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1552},{173,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,76}</string>
			</dict>
			<key>img/zhajinhua_looked.png</key>
			<dict>
				<key>frame</key>
				<string>{{727,803},{147,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{147,55}</string>
			</dict>
			<key>img/zhajinhua_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,728},{293,50}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{293,50}</string>
			</dict>
			<key>img/zhajinhua_qipai.png</key>
			<dict>
				<key>frame</key>
				<string>{{826,1490},{152,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{152,92}</string>
			</dict>
			<key>img/zhajinhua_question.png</key>
			<dict>
				<key>frame</key>
				<string>{{612,1924},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>img/zhajinhua_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{304,1628},{112,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,65}</string>
			</dict>
			<key>img/zhajinhua_ring.png</key>
			<dict>
				<key>frame</key>
				<string>{{109,1924},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>img/zhajinhua_sanpai.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,1317},{95,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,42}</string>
			</dict>
			<key>img/zhajinhua_shadow.png</key>
			<dict>
				<key>frame</key>
				<string>{{472,728},{176,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{176,59}</string>
			</dict>
			<key>img/zhajinhua_shunjin.png</key>
			<dict>
				<key>frame</key>
				<string>{{772,1736},{94,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{94,42}</string>
			</dict>
			<key>img/zhajinhua_shunzi.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,1412},{95,42}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{95,42}</string>
			</dict>
			<key>img/zhajinhua_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{603,937},{252,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,96}</string>
			</dict>
			<key>img/zhajinhua_title.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,803},{727,134}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{727,134}</string>
			</dict>
			<key>img/zhajinhua_victory.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1760},{106,55}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,55}</string>
			</dict>
			<key>img/zhajinhua_dleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{795,0},{752,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{752,207}</string>
			</dict>
			<key>img/zhajinhua_dright.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,521},{752,207}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{752,207}</string>
			</dict>
			<key>img/zhajinhua_wanfa.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{795,521}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{795,521}</string>
			</dict>
			<key>img/zhajinhua_vs.png</key>
			<dict>
				<key>frame</key>
				<string>{{316,1217},{259,340}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{259,340}</string>
			</dict>
			<key>img/zhajinhua_szright.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,937},{280,347}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{280,347}</string>
			</dict>
			<key>img/zhajinhua_szleft.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1236},{316,338}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{316,338}</string>
			</dict>
			<key>img/comparecard_newt3card_ani_slice.png</key>
			<dict>
				<key>frame</key>
				<string>{{656,1189},{128,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{128,32}</string>
			</dict>
			<key>img/comparecard_newt3animation_comparecard_vs_light.png</key>
			<dict>
				<key>frame</key>
				<string>{{347,937},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>
			<key>img/comparecard_newt3animation_comparecard_vs_flare.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1398},{128,128}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{128,128}</string>
			</dict>
			<key>img/zhajinhua_bps.png</key>
			<dict>
				<key>frame</key>
				<string>{{293,728},{179,68}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{179,68}</string>
			</dict>
			<key>img/zhajinhua_wz.png</key>
			<dict>
				<key>frame</key>
				<string>{{641,1507},{113,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{113,57}</string>
			</dict>
			<key>img/sx.png</key>
			<dict>
				<key>frame</key>
				<string>{{470,1924},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>img/sx1_h.png</key>
			<dict>
				<key>frame</key>
				<string>{{541,1924},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>img/desk_tag_arrow.png</key>
			<dict>
				<key>frame</key>
				<string>{{966,1866},{58,78}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{58,78}</string>
			</dict>
			<key>img/jetton_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1924},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>img/jetton_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{211,1574},{92,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>img/jetton_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{303,1924},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>img/jetton_25.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1574},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>img/jetton_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{93,1574},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>img/jetton_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1628},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>img/menu_fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{774,1526},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>img/menu_jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{648,728},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>img/menu_jt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{395,1924},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>img/menu_sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{752,688},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>img/menu_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{978,1547},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
			<key>img/menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,1236},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>allimg.png</string>
			<key>realTextureFileName</key>
			<string>allimg.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>