<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>1.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,1},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>10.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,1},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>11.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,1},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>12.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,1},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,154},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>17.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,154},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>18.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,154},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>19.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,154},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>2.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,154},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>20.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,307},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>21.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,307},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>22.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,307},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>23.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,307},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>24.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,307},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>25.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,460},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>26.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,460},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>27.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,460},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>28.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,460},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>29.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,460},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,613},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>33.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,613},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>34.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,613},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>35.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,613},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>36.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,613},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>37.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,766},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>38.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,766},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>39.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,766},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>4.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,766},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>40.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,766},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>41.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,919},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>42.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,919},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>43.png</key>
			<dict>
				<key>frame</key>
				<string>{{365,919},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>44.png</key>
			<dict>
				<key>frame</key>
				<string>{{547,919},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>45.png</key>
			<dict>
				<key>frame</key>
				<string>{{729,919},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>49.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1072},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1254},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1436},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>51.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1618},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>52.png</key>
			<dict>
				<key>frame</key>
				<string>{{1,1800},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>53.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1072},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>54.png</key>
			<dict>
				<key>frame</key>
				<string>{{336,1072},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>55.png</key>
			<dict>
				<key>frame</key>
				<string>{{518,1072},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>56.png</key>
			<dict>
				<key>frame</key>
				<string>{{700,1072},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>57.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1225},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>58.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1407},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>59.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1589},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>6.png</key>
			<dict>
				<key>frame</key>
				<string>{{154,1771},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>60.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,1225},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>61.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1225},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>7.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1225},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>78.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,1225},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>79.png</key>
			<dict>
				<key>frame</key>
				<string>{{307,1378},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>8.png</key>
			<dict>
				<key>frame</key>
				<string>{{489,1378},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
			<key>9.png</key>
			<dict>
				<key>frame</key>
				<string>{{671,1378},{151,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{151,180}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>poker.png</string>
			<key>realTextureFileName</key>
			<string>poker.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>