<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>gswz_new_res/btn_all_in_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{453,937},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>gswz_new_res/btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,2},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>gswz_new_res/btn_follow.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,2},{216,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{216,84}</string>
			</dict>
			<key>gswz_new_res/btn_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,963},{126,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{126,59}</string>
			</dict>
			<key>gswz_new_res/btn_more.png</key>
			<dict>
				<key>frame</key>
				<string>{{895,903},{116,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,113}</string>
			</dict>
			<key>gswz_new_res/icon_chat.png</key>
			<dict>
				<key>frame</key>
				<string>{{929,711},{97,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{97,89}</string>
			</dict>
			<key>gswz_new_res/new_res_btn_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,727},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>gswz_new_res/new_res_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,124},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>gswz_new_res/new_res_btn_bet_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{674,919},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>gswz_new_res/new_res_btn_bet_give_up.png</key>
			<dict>
				<key>frame</key>
				<string>{{758,815},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>gswz_new_res/new_res_btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,246},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>gswz_new_res/new_res_btn_no_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,490},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>gswz_new_res/new_res_btn_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{979,368},{118,39}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,39}</string>
			</dict>
			<key>gswz_new_res/new_res_btn_start.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,490},{217,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,84}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_all_in_fire.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,727},{160,208}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{160,208}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_all_in_grame.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,727},{134,166}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,166}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_contrallor_bar.png</key>
			<dict>
				<key>frame</key>
				<string>{{831,711},{94,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,97}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_contrallor_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,280},{169,339}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{169,339}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_loading.png</key>
			<dict>
				<key>frame</key>
				<string>{{174,623},{527,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{527,100}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_money.png</key>
			<dict>
				<key>frame</key>
				<string>{{480,896},{134,35}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{134,35}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_poker_01.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,2},{104,146}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,146}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_poker_02.png</key>
			<dict>
				<key>frame</key>
				<string>{{335,939},{81,114}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{81,114}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_profile.png</key>
			<dict>
				<key>frame</key>
				<string>{{705,222},{111,147}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,147}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_setting.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{248,274}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,274}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_text_no_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{618,863},{103,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{103,52}</string>
			</dict>
			<key>gswz_new_res/new_res_tag_text_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{793,110},{103,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{103,52}</string>
			</dict>
			<key>gswz_new_res/tag_bar_all_in.png</key>
			<dict>
				<key>frame</key>
				<string>{{610,815},{144,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{144,44}</string>
			</dict>
			<key>gswz_new_res/tag_chip_small_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{820,217},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>gswz_new_res/tag_chip_small_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,110},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>gswz_new_res/tag_chip_small_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,110},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>gswz_new_res/tag_chip_small_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{903,164},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>gswz_new_res/tag_chip_small_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,218},{50,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{50,51}</string>
			</dict>
			<key>gswz_new_res/tag_contrallor_bar_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{132,963},{199,32}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{199,32}</string>
			</dict>
			<key>gswz_new_res/tag_contrallor_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,623},{168,336}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{168,336}</string>
			</dict>
			<key>gswz_new_res/tag_shining_00.png</key>
			<dict>
				<key>frame</key>
				<string>{{476,727},{130,165}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{130,165}</string>
			</dict>
			<key>gswz_new_res/tag_user_bet.png</key>
			<dict>
				<key>frame</key>
				<string>{{338,897},{138,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{138,36}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gswz.png</string>
			<key>realTextureFileName</key>
			<string>gswz.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>