<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>banker.png</key>
			<dict>
				<key>frame</key>
				<string>{{243,961},{80,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{80,59}</string>
			</dict>
			<key>bt_callBanker_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>bt_cancel_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{283,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>bt_start_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,106},{252,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{252,96}</string>
			</dict>
			<key>btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{756,583},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>btn_change.png</key>
			<dict>
				<key>frame</key>
				<string>{{646,605},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>btn_change_unactive.png</key>
			<dict>
				<key>frame</key>
				<string>{{571,675},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>btn_xiazhu_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{483,106},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,126},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,226},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>caculator_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{585,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{585,100}</string>
			</dict>
			<key>callbanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{327,961},{53,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{53,52}</string>
			</dict>
			<key>di_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,404},{248,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{248,101}</string>
			</dict>
			<key>di_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{199,851},{106,148}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,148}</string>
			</dict>
			<key>di_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,746},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>dontbanker.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,248},{101,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{101,52}</string>
			</dict>
			<key>douniu_btn_yellow.png</key>
			<dict>
				<key>frame</key>
				<string>{{583,326},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>douniu_bubble_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{934,2},{519,49}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{519,49}</string>
			</dict>
			<key>douniu_poker_type_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,509},{115,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,66}</string>
			</dict>
			<key>douniu_poker_type_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{131,850},{116,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,64}</string>
			</dict>
			<key>douniu_poker_type_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{449,769},{113,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,64}</string>
			</dict>
			<key>douniu_poker_type_102.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,327},{165,70}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,70}</string>
			</dict>
			<key>douniu_poker_type_103.png</key>
			<dict>
				<key>frame</key>
				<string>{{850,573},{115,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,66}</string>
			</dict>
			<key>douniu_poker_type_104.png</key>
			<dict>
				<key>frame</key>
				<string>{{853,404},{165,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{165,71}</string>
			</dict>
			<key>douniu_poker_type_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,692},{113,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{113,64}</string>
			</dict>
			<key>douniu_poker_type_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{331,769},{114,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{114,65}</string>
			</dict>
			<key>douniu_poker_type_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{493,496},{114,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,66}</string>
			</dict>
			<key>douniu_poker_type_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{168,628},{114,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,66}</string>
			</dict>
			<key>douniu_poker_type_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{351,838},{114,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{114,65}</string>
			</dict>
			<key>douniu_poker_type_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{383,956},{115,64}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,64}</string>
			</dict>
			<key>douniu_poker_type_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{563,526},{109,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,65}</string>
			</dict>
			<key>douniu_poker_type_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{454,614},{109,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{109,66}</string>
			</dict>
			<key>douniu_table_card_type_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{183,327},{206,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{206,71}</string>
			</dict>
			<key>douniu_table_card_type_bg1.png</key>
			<dict>
				<key>frame</key>
				<string>{{102,106},{208,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{208,71}</string>
			</dict>
			<key>exit1_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{928,525},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>goon2_normal.png</key>
			<dict>
				<key>frame</key>
				<string>{{238,623},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>kuang_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{591,2},{266,120}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{266,120}</string>
			</dict>
			<key>kuang_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,726},{125,167}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{125,167}</string>
			</dict>
			<key>kuang_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,897},{118,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,119}</string>
			</dict>
			<key>prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{861,2},{398,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{398,69}</string>
			</dict>
			<key>sprite_openCard.png</key>
			<dict>
				<key>frame</key>
				<string>{{788,473},{106,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{106,58}</string>
			</dict>
			<key>sprite_prompt.png</key>
			<dict>
				<key>frame</key>
				<string>{{420,838},{112,65}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{112,65}</string>
			</dict>
			<key>btn_xiazhu_1h.png</key>
			<dict>
				<key>frame</key>
				<string>{{393,327},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_2h.png</key>
			<dict>
				<key>frame</key>
				<string>{{254,402},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_3h.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,426},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>btn_xiazhu_4h.png</key>
			<dict>
				<key>frame</key>
				<string>{{354,548},{217,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{217,96}</string>
			</dict>
			<key>jinbi_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,362},{177,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{177,36}</string>
			</dict>
			<key>add.png</key>
			<dict>
				<key>frame</key>
				<string>{{721,658},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,525},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
			<key>fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,353},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{567,595},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>jt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{676,526},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{124,970},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{804,126},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>realTextureFileName</key>
			<string>gameScene_oxnew.png</string>
			<key>size</key>
			<string>{1024,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>