<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hall_ad_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{238,351}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{238,351}}</string>
                <key>sourceSize</key>
                <string>{238,351}</string>
            </dict>
            <key>hall_ad_border.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,474}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{326,474}}</string>
                <key>sourceSize</key>
                <string>{326,474}</string>
            </dict>
            <key>hall_ad_mark_selected.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,470},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>hall_ad_mark_unselected.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,470},{14,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{14,14}}</string>
                <key>sourceSize</key>
                <string>{14,14}</string>
            </dict>
            <key>hall_ad_roll2.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,355},{132,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{132,132}}</string>
                <key>sourceSize</key>
                <string>{132,132}</string>
            </dict>
            <key>hall_ad_tip_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,394},{254,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{254,74}}</string>
                <key>sourceSize</key>
                <string>{254,74}</string>
            </dict>
            <key>hall_ad_title.png</key>
            <dict>
                <key>frame</key>
                <string>{{330,2},{390,289}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{390,289}}</string>
                <key>sourceSize</key>
                <string>{390,289}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hall_ad.png</string>
            <key>size</key>
            <string>{861,489}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b5710b7d2df1b1bab6c01591e75cec4b:1/1$</string>
            <key>textureFileName</key>
            <string>hall_ad.png</string>
        </dict>
    </dict>
</plist>
