<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hf_cmtk_flower01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,183},{37,37}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,37}}</string>
                <key>sourceSize</key>
                <string>{37,37}</string>
            </dict>
            <key>hf_cmtk_flower02.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,2},{82,32}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,0},{82,32}}</string>
                <key>sourceSize</key>
                <string>{86,36}</string>
            </dict>
            <key>hf_cmtk_flower03.png</key>
            <dict>
                <key>frame</key>
                <string>{{235,36},{19,37}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{19,37}}</string>
                <key>sourceSize</key>
                <string>{21,37}</string>
            </dict>
            <key>hf_cmtk_txt01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{157,76}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,76}}</string>
                <key>sourceSize</key>
                <string>{157,76}</string>
            </dict>
            <key>hf_cmtk_txt_add.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,36},{145,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{145,72}}</string>
                <key>sourceSize</key>
                <string>{145,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>hf_cmtk_million.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a877a7d24d182f9a08f85486a57b182a:1/1$</string>
            <key>textureFileName</key>
            <string>hf_cmtk_million.png</string>
        </dict>
    </dict>
</plist>
