<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>plazz/new_plazz/add.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,828},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>plazz/new_plazz/bdyl.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,450},{92,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>plazz/new_plazz/bxx.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,876},{77,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{77,84}</string>
			</dict>
			<key>plazz/new_plazz/cz.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,450},{316,119}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{316,119}</string>
			</dict>
			<key>plazz/new_plazz/dh.png</key>
			<dict>
				<key>frame</key>
				<string>{{153,964},{57,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{57,84}</string>
			</dict>
			<key>plazz/new_plazz/fk.png</key>
			<dict>
				<key>frame</key>
				<string>{{241,962},{58,81}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{58,81}</string>
			</dict>
			<key>plazz/new_plazz/guangg.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{255,444}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{255,444}</string>
			</dict>
			<key>plazz/new_plazz/gx.png</key>
			<dict>
				<key>frame</key>
				<string>{{221,450},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>plazz/new_plazz/hdgg.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,770},{107,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,93}</string>
			</dict>
			<key>plazz/new_plazz/jb.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,770},{236,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,44}</string>
			</dict>
			<key>plazz/new_plazz/kf.png</key>
			<dict>
				<key>frame</key>
				<string>{{234,875},{63,83}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{63,83}</string>
			</dict>
			<key>plazz/new_plazz/phb.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,547},{84,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,93}</string>
			</dict>
			<key>plazz/new_plazz/sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{125,644},{84,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,92}</string>
			</dict>
			<key>plazz/new_plazz/tx.png</key>
			<dict>
				<key>frame</key>
				<string>{{147,740},{84,84}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{84,84}</string>
			</dict>
			<key>plazz/new_plazz/txk.png</key>
			<dict>
				<key>frame</key>
				<string>{{50,881},{99,99}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{99,99}</string>
			</dict>
			<key>plazz/new_plazz/xz.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,628},{66,66}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{66,66}</string>
			</dict>
			<key>plazz/new_plazz/yj.png</key>
			<dict>
				<key>frame</key>
				<string>{{213,547},{59,77}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{59,77}</string>
			</dict>
			<key>plazz/new_plazz/sx.png</key>
			<dict>
				<key>frame</key>
				<string>{{195,828},{43,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{43,43}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>plazz.png</string>
			<key>realTextureFileName</key>
			<string>plazz.png</string>
			<key>size</key>
			<string>{512,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>