<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>bet_button_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{1815,2},{225,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,302}</string>
			</dict>
			<key>bet_button_huang.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,118},{249,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,299}</string>
			</dict>
			<key>bet_button_tian.png</key>
			<dict>
				<key>frame</key>
				<string>{{1375,118},{249,299}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{249,299}</string>
			</dict>
			<key>bet_button_xuan.png</key>
			<dict>
				<key>frame</key>
				<string>{{1779,308},{225,302}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{225,302}</string>
			</dict>
			<key>br_btn_xuya.png</key>
			<dict>
				<key>frame</key>
				<string>{{1773,670},{203,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,90}</string>
			</dict>
			<key>br_btn_xuya_down.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,780},{203,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,90}</string>
			</dict>
			<key>br_coin_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,614},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>br_coin_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1009,614},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>br_coin_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,558},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>br_coin_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{57,558},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>br_coin_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{112,558},{51,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{51,51}</string>
			</dict>
			<key>brnn_btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,877},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>brnn_btn_info.png</key>
			<dict>
				<key>frame</key>
				<string>{{1029,952},{69,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{69,69}</string>
			</dict>
			<key>brnn_btn_mumber.png</key>
			<dict>
				<key>frame</key>
				<string>{{590,897},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>cmk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1072,2},{739,112}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{739,112}</string>
			</dict>
			<key>dikuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,670},{1333,106}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1333,106}</string>
			</dict>
			<key>dnhundreds_chip_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1298,804},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>dnhundreds_chip_1_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,897},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>dnhundreds_chip_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{912,780},{92,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>dnhundreds_chip_100.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,876},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>dnhundreds_chip_100_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1200,876},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>dnhundreds_chip_10no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1008,780},{92,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,93}</string>
			</dict>
			<key>dnhundreds_chip_50.png</key>
			<dict>
				<key>frame</key>
				<string>{{1296,900},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>dnhundreds_chip_50_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{933,877},{92,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,92}</string>
			</dict>
			<key>dnhundreds_chip_500.png</key>
			<dict>
				<key>frame</key>
				<string>{{1104,780},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>dnhundreds_chip_500_no.png</key>
			<dict>
				<key>frame</key>
				<string>{{1201,780},{93,92}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{93,92}</string>
			</dict>
			<key>hundreds_table_regar_btn.png</key>
			<dict>
				<key>frame</key>
				<string>{{696,897},{102,102}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{102,102}</string>
			</dict>
			<key>kuang.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,308},{177,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,36}</string>
			</dict>
			<key>nn_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,530},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,371},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_10.png</key>
			<dict>
				<key>frame</key>
				<string>{{1054,444},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_11.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,530},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_12.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,371},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_13.png</key>
			<dict>
				<key>frame</key>
				<string>{{1348,444},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1642,530},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{1508,603},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,804},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_5.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,877},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_6.png</key>
			<dict>
				<key>frame</key>
				<string>{{1712,950},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_7.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,897},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_8.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,804},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>nn_9.png</key>
			<dict>
				<key>frame</key>
				<string>{{296,897},{290,69}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{290,69}</string>
			</dict>
			<key>num_time.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,614},{410,52}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{410,52}</string>
			</dict>
			<key>score_di.png</key>
			<dict>
				<key>frame</key>
				<string>{{416,614},{173,43}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{173,43}</string>
			</dict>
			<key>top.png</key>
			<dict>
				<key>frame</key>
				<string>{{2,2},{1066,143}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{1066,143}</string>
			</dict>
			<key>touxiang.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,780},{100,101}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,101}</string>
			</dict>
			<key>touxiang1.png</key>
			<dict>
				<key>frame</key>
				<string>{{814,780},{94,95}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{94,95}</string>
			</dict>
			<key>trend_icon_new.png</key>
			<dict>
				<key>frame</key>
				<string>{{215,558},{33,33}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{33,33}</string>
			</dict>
			<key>txt_time_free.png</key>
			<dict>
				<key>frame</key>
				<string>{{1715,530},{270,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{270,54}</string>
			</dict>
			<key>txwk.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,833},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>wysz.png</key>
			<dict>
				<key>frame</key>
				<string>{{503,780},{203,90}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{203,90}</string>
			</dict>
			<key>zzkp.png</key>
			<dict>
				<key>frame</key>
				<string>{{1581,603},{226,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{226,54}</string>
			</dict>
			<key>zzxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1064,603},{274,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{274,54}</string>
			</dict>
			<key>ksxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{1678,118},{408,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{408,97}</string>
			</dict>
			<key>tzxz.png</key>
			<dict>
				<key>frame</key>
				<string>{{954,149},{405,96}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{405,96}</string>
			</dict>
			<key>jia.png</key>
			<dict>
				<key>frame</key>
				<string>{{167,558},{44,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{44,44}</string>
			</dict>
			<key>jinbi_k.png</key>
			<dict>
				<key>frame</key>
				<string>{{2008,489},{177,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{177,36}</string>
			</dict>
			<key>txkd.png</key>
			<dict>
				<key>frame</key>
				<string>{{802,885},{127,127}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,127}</string>
			</dict>
			<key>bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{1342,603},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
			<key>fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{715,614},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{1394,804},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>jt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{1490,897},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{835,614},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{593,614},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>hundreds_table_main.png</string>
			<key>realTextureFileName</key>
			<string>hundreds_table_main.png</string>
			<key>size</key>
			<string>{2048,1024}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>2048</integer>
			<key>height</key>
			<integer>1024</integer>
		</dict>
	</dict>
</plist>