<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_table_line_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,2},{346,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,3}}</string>
                <key>sourceSize</key>
                <string>{346,3}</string>
            </dict>
            <key>ddz_table_line_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{745,2},{346,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,4}}</string>
                <key>sourceSize</key>
                <string>{346,4}</string>
            </dict>
            <key>ddz_table_line_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{751,2},{346,3}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,3}}</string>
                <key>sourceSize</key>
                <string>{346,3}</string>
            </dict>
            <key>ddz_table_line_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{761,2},{346,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,2}}</string>
                <key>sourceSize</key>
                <string>{346,2}</string>
            </dict>
            <key>ddz_table_line_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,2},{346,5}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,5}}</string>
                <key>sourceSize</key>
                <string>{346,5}</string>
            </dict>
            <key>ddz_table_plane.png</key>
            <dict>
                <key>frame</key>
                <string>{{541,2},{353,195}}</string>
                <key>offset</key>
                <string>{-29,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{353,195}}</string>
                <key>sourceSize</key>
                <string>{411,195}</string>
            </dict>
            <key>ddz_table_plane_smoke01.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,152},{100,38}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{100,38}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>ddz_table_plane_smoke02.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,254},{84,46}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,0},{84,46}}</string>
                <key>sourceSize</key>
                <string>{110,46}</string>
            </dict>
            <key>ddz_table_pz_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,191},{426,172}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{426,172}}</string>
                <key>sourceSize</key>
                <string>{426,172}</string>
            </dict>
            <key>ddz_table_pz_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{537,187}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,7},{537,187}}</string>
                <key>sourceSize</key>
                <string>{553,199}</string>
            </dict>
            <key>ddz_table_pz_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,218},{62,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{62,62}}</string>
                <key>sourceSize</key>
                <string>{62,62}</string>
            </dict>
            <key>ddz_table_pz_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{813,282},{56,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,56}}</string>
                <key>sourceSize</key>
                <string>{56,56}</string>
            </dict>
            <key>ddz_table_pz_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,152},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>ddz_table_word_0001_lian.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,78},{78,72}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{78,72}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>ddz_table_word_0002_dui.png</key>
            <dict>
                <key>frame</key>
                <string>{{765,2},{78,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{78,74}}</string>
                <key>sourceSize</key>
                <string>{80,76}</string>
            </dict>
            <key>ddz_table_word_feiji.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,191},{133,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,75}}</string>
                <key>sourceSize</key>
                <string>{133,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_table_ani_common.png</string>
            <key>size</key>
            <string>{877,365}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8056b6ea391eed363a2c165e696b584b:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_table_ani_common.png</string>
        </dict>
    </dict>
</plist>
