<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_table_roket_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{497,2},{151,298}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,298}}</string>
                <key>sourceSize</key>
                <string>{151,298}</string>
            </dict>
            <key>ddz_table_roket_A1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,569},{214,257}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,257}}</string>
                <key>sourceSize</key>
                <string>{218,259}</string>
            </dict>
            <key>ddz_table_roket_A2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{217,269}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{217,269}}</string>
                <key>sourceSize</key>
                <string>{219,271}</string>
            </dict>
            <key>ddz_table_roket_A3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{244,294}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{244,294}}</string>
                <key>sourceSize</key>
                <string>{248,296}</string>
            </dict>
            <key>ddz_table_roket_A4.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{247,274}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{247,274}}</string>
                <key>sourceSize</key>
                <string>{249,276}</string>
            </dict>
            <key>ddz_table_roket_A5.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,571},{249,199}}</string>
                <key>offset</key>
                <string>{-2,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{249,199}}</string>
                <key>sourceSize</key>
                <string>{253,205}</string>
            </dict>
            <key>ddz_table_roket_guangquan.png</key>
            <dict>
                <key>frame</key>
                <string>{{485,302},{200,82}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{200,82}}</string>
                <key>sourceSize</key>
                <string>{206,86}</string>
            </dict>
            <key>ddz_table_roket_light_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,828},{148,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,147}}</string>
                <key>sourceSize</key>
                <string>{148,147}</string>
            </dict>
            <key>ddz_table_roket_light_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,822},{128,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,128}}</string>
                <key>sourceSize</key>
                <string>{128,128}</string>
            </dict>
            <key>ddz_table_roket_light_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,278},{60,220}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,220}}</string>
                <key>sourceSize</key>
                <string>{60,220}</string>
            </dict>
            <key>ddz_table_roket_light_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,822},{99,143}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{99,143}}</string>
                <key>sourceSize</key>
                <string>{101,145}</string>
            </dict>
            <key>ddz_table_roket_light_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,843},{157,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,62}}</string>
                <key>sourceSize</key>
                <string>{157,62}</string>
            </dict>
            <key>ddz_table_roket_light_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{527,711},{130,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,126}}</string>
                <key>sourceSize</key>
                <string>{130,126}</string>
            </dict>
            <key>ddz_table_roket_light_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,298},{271,200}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{271,200}}</string>
                <key>sourceSize</key>
                <string>{271,200}</string>
            </dict>
            <key>ddz_table_roket_light_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,952},{48,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,48}}</string>
                <key>sourceSize</key>
                <string>{48,48}</string>
            </dict>
            <key>ddz_table_roket_light_yan.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,500},{67,59}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,22},{67,59}}</string>
                <key>sourceSize</key>
                <string>{95,95}</string>
            </dict>
            <key>ddz_table_shandian_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,302},{204,81}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,81}}</string>
                <key>sourceSize</key>
                <string>{204,81}</string>
            </dict>
            <key>ddz_table_shandian_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,504},{202,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,64}}</string>
                <key>sourceSize</key>
                <string>{202,64}</string>
            </dict>
            <key>ddz_table_shandian_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,571},{204,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{204,69}}</string>
                <key>sourceSize</key>
                <string>{204,69}</string>
            </dict>
            <key>ddz_table_shandian_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{556,508},{201,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{201,65}}</string>
                <key>sourceSize</key>
                <string>{201,65}</string>
            </dict>
            <key>ddz_table_shandian_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{465,777},{184,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{184,60}}</string>
                <key>sourceSize</key>
                <string>{184,60}</string>
            </dict>
            <key>ddz_table_shandian_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{591,843},{127,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{127,58}}</string>
                <key>sourceSize</key>
                <string>{127,58}</string>
            </dict>
            <key>ddz_table_word_roket.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,828},{175,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{175,80}}</string>
                <key>sourceSize</key>
                <string>{177,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_table_ani_rocket.png</string>
            <key>size</key>
            <string>{655,1006}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:39557e13fd3425b0d30ef0d4d60d8b89:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_table_ani_rocket.png</string>
        </dict>
    </dict>
</plist>
