<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ddz_table_bomb_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,592},{100,76}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,76}}</string>
                <key>sourceSize</key>
                <string>{102,76}</string>
            </dict>
            <key>ddz_table_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{271,681},{110,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,104}}</string>
                <key>sourceSize</key>
                <string>{110,104}</string>
            </dict>
            <key>ddz_table_bomb_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,513},{150,157}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,157}}</string>
                <key>sourceSize</key>
                <string>{150,157}</string>
            </dict>
            <key>ddz_table_bomb_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,587},{135,77}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{135,77}}</string>
                <key>sourceSize</key>
                <string>{141,105}</string>
            </dict>
            <key>ddz_table_bomb_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,513},{131,77}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{131,77}}</string>
                <key>sourceSize</key>
                <string>{141,105}</string>
            </dict>
            <key>ddz_table_bomb_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,592},{123,87}}</string>
                <key>offset</key>
                <string>{-9,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,18},{123,87}}</string>
                <key>sourceSize</key>
                <string>{141,105}</string>
            </dict>
            <key>ddz_table_bomb_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,672},{141,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,105}}</string>
                <key>sourceSize</key>
                <string>{141,105}</string>
            </dict>
            <key>ddz_table_bomb_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,666},{115,97}}</string>
                <key>offset</key>
                <string>{-13,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{115,97}}</string>
                <key>sourceSize</key>
                <string>{141,105}</string>
            </dict>
            <key>ddz_table_bomb_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{383,694},{109,101}}</string>
                <key>offset</key>
                <string>{-16,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{109,101}}</string>
                <key>sourceSize</key>
                <string>{141,105}</string>
            </dict>
            <key>ddz_table_bomb_bomb_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{509,492}}</string>
                <key>offset</key>
                <string>{-3,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,67},{509,492}}</string>
                <key>sourceSize</key>
                <string>{629,562}</string>
            </dict>
            <key>ddz_table_bomb_yingzi.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,513},{67,19}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{67,19}}</string>
                <key>sourceSize</key>
                <string>{73,25}</string>
            </dict>
            <key>ddz_table_wordzhadan.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,513},{179,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{179,72}}</string>
                <key>sourceSize</key>
                <string>{179,72}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ddz_table_ani_bomb.png</string>
            <key>size</key>
            <string>{496,799}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b937bc2bfc8049361315467b09f0fb2:1/1$</string>
            <key>textureFileName</key>
            <string>ddz_table_ani_bomb.png</string>
        </dict>
    </dict>
</plist>
