<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>img/btn_back.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,1145},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>img/btn_callland.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1955},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_continue.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,697},{224,89}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,89}</string>
			</dict>
			<key>img/btn_jipaiqi.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1384},{159,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{159,57}</string>
			</dict>
			<key>img/btn_nocall.png</key>
			<dict>
				<key>frame</key>
				<string>{{197,1858},{224,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,97}</string>
			</dict>
			<key>img/btn_norob.png</key>
			<dict>
				<key>frame</key>
				<string>{{421,1932},{224,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,97}</string>
			</dict>
			<key>img/btn_nosend.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1771},{224,97}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,97}</string>
			</dict>
			<key>img/btn_nosend_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{645,1926},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_notice.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1291},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_point1.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1291},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_point2.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1384},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_point3.png</key>
			<dict>
				<key>frame</key>
				<string>{{673,1384},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_rechoose.png</key>
			<dict>
				<key>frame</key>
				<string>{{778,1700},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_return.png</key>
			<dict>
				<key>frame</key>
				<string>{{783,1013},{71,71}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{71,71}</string>
			</dict>
			<key>img/btn_rob.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1793},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_sendcard.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,697},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_sendcard_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{922,921},{224,93}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{224,93}</string>
			</dict>
			<key>img/btn_tuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{786,940},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>img/btn_tuoguan_grey.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,996},{73,73}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{73,73}</string>
			</dict>
			<key>img/btn_word_quxiaotuoguan.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1700},{158,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{158,45}</string>
			</dict>
			<key>img/ddz_deposit_robot.png</key>
			<dict>
				<key>frame</key>
				<string>{{672,1608},{91,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{91,94}</string>
			</dict>
			<key>img/ddz_deposit_robot_eye.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,2020},{36,19}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{36,19}</string>
			</dict>
			<key>img/electrycity_0.png</key>
			<dict>
				<key>frame</key>
				<string>{{36,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/electrycity_1.png</key>
			<dict>
				<key>frame</key>
				<string>{{52,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/electrycity_2.png</key>
			<dict>
				<key>frame</key>
				<string>{{68,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/electrycity_3.png</key>
			<dict>
				<key>frame</key>
				<string>{{84,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/electrycity_4.png</key>
			<dict>
				<key>frame</key>
				<string>{{100,2020},{26,16}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{26,16}</string>
			</dict>
			<key>img/frame_base.png</key>
			<dict>
				<key>frame</key>
				<string>{{486,401},{1370,94}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{1370,94}</string>
			</dict>
			<key>img/frame_box.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,697},{111,111}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{111,111}</string>
			</dict>
			<key>img/frame_goldcoin.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1696},{236,44}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{236,44}</string>
			</dict>
			<key>img/frame_rectangle.png</key>
			<dict>
				<key>frame</key>
				<string>{{919,1886},{100,100}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>
			<key>img/frame_top.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1771},{430,87}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{430,87}</string>
			</dict>
			<key>img/frame_yuanjiao.png</key>
			<dict>
				<key>frame</key>
				<string>{{738,1699},{134,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{134,40}</string>
			</dict>
			<key>img/frame_yuanjiao2.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1886},{127,36}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{127,36}</string>
			</dict>
			<key>img/img_add.png</key>
			<dict>
				<key>frame</key>
				<string>{{849,1608},{106,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,58}</string>
			</dict>
			<key>img/img_callland.png</key>
			<dict>
				<key>frame</key>
				<string>{{792,1543},{157,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{157,57}</string>
			</dict>
			<key>img/img_cardrecord.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,401},{890,130}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{890,130}</string>
			</dict>
			<key>img/img_endbg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{714,401}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{714,401}</string>
			</dict>
			<key>img/img_lose.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,401},{486,333}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{486,333}</string>
			</dict>
			<key>img/img_noadd.png</key>
			<dict>
				<key>frame</key>
				<string>{{635,1868},{157,58}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{157,58}</string>
			</dict>
			<key>img/img_nocall.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1476},{104,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{104,57}</string>
			</dict>
			<key>img/img_norob.png</key>
			<dict>
				<key>frame</key>
				<string>{{914,1986},{106,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{106,57}</string>
			</dict>
			<key>img/img_nosend.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,808},{104,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{104,57}</string>
			</dict>
			<key>img/img_point1.png</key>
			<dict>
				<key>frame</key>
				<string>{{859,981},{79,57}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{79,57}</string>
			</dict>
			<key>img/img_point2.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1628},{87,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{87,63}</string>
			</dict>
			<key>img/img_point3.png</key>
			<dict>
				<key>frame</key>
				<string>{{955,1608},{88,59}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{88,59}</string>
			</dict>
			<key>img/img_ready.png</key>
			<dict>
				<key>frame</key>
				<string>{{962,1369},{107,56}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{107,56}</string>
			</dict>
			<key>img/img_rob.png</key>
			<dict>
				<key>frame</key>
				<string>{{474,1868},{161,63}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{161,63}</string>
			</dict>
			<key>img/img_win.png</key>
			<dict>
				<key>frame</key>
				<string>{{714,0},{697,303}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{697,303}</string>
			</dict>
			<key>img/node_clock.png</key>
			<dict>
				<key>frame</key>
				<string>{{580,1515},{92,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{92,113}</string>
			</dict>
			<key>img/notice_brokenrule.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1091},{306,51}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{306,51}</string>
			</dict>
			<key>img/notice_disable.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,734},{357,54}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{357,54}</string>
			</dict>
			<key>img/notice_waitcall.png</key>
			<dict>
				<key>frame</key>
				<string>{{430,1397},{299,48}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{299,48}</string>
			</dict>
			<key>img/tag_landlord.png</key>
			<dict>
				<key>frame</key>
				<string>{{854,1060},{40,80}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false />
				<key>sourceSize</key>
				<string>{40,80}</string>
			</dict>
			<key>img/menu_bg.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,1858},{162,197}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{162,197}</string>
			</dict>
			<key>img/menu_fh.png</key>
			<dict>
				<key>frame</key>
				<string>{{875,865},{116,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{116,45}</string>
			</dict>
			<key>img/menu_jt1.png</key>
			<dict>
				<key>frame</key>
				<string>{{799,865},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>img/menu_jt2.png</key>
			<dict>
				<key>frame</key>
				<string>{{710,921},{75,76}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{75,76}</string>
			</dict>
			<key>img/menu_sm.png</key>
			<dict>
				<key>frame</key>
				<string>{{698,1745},{115,40}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{115,40}</string>
			</dict>
			<key>img/menu_sz.png</key>
			<dict>
				<key>frame</key>
				<string>{{869,1922},{118,45}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<true />
				<key>sourceSize</key>
				<string>{118,45}</string>
			</dict>
		</dict>
		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>textureFileName</key>
			<string>images.png</string>
			<key>realTextureFileName</key>
			<string>images.png</string>
			<key>size</key>
			<string>{1024,2048}</string>
		</dict>
		<key>texture</key>
		<dict>
			<key>width</key>
			<integer>1024</integer>
			<key>height</key>
			<integer>2048</integer>
		</dict>
	</dict>
</plist>